extends ./includes/template.pug
block variables
	-var title="Печать документов"
block main_form
	form.main_form
		a(href="#") Личное дело
		a(href="#") Заявление
		a(href="#") Расписка
		a(href="#") Согласие на обработку персональных данных
		a(href="#") Заявление на общежитие 
		