extends ./includes/template.pug
block variables
	-var title="Вход"
block main_form
	form.main_form.sign_in_form(method="POST")
		p.field
			label(for="login") Логин
			input#login(type="text")
		p.field
			label(for="pass") Пароль
			input#pass(type="password")
		a.sign_in(href="main_page.html") Войти  