extends ./includes/template.pug
block variables
	-var title="Приемная комиссия"
block main_form
	form.main_form
		a(href="./new_student.html") Добавить нового студента
		a(href="./reports.html") Просмотр отчетов
		a(href="./document.html") Печать документов