extends ./includes/template.pug
block variables
	-var title="Приемная комиссия"
block main_form
	form.main_form
		a(href="./new_student.html") Добавить нового студента
		a(href="./all_student_spec.html") Просмотр базы студентов
		a(href="./document.html") Печать документов  