extends ./includes/template.pug
block variables
	-var title="Просмотр отчетов"
block main_form
	form.main_form
		a(href="#") Все студенты по выбранной специальности
		a(href="#") Все студенты по выбранной професиии
		a(href="#") Все студенты после 9го класса
		a(href="#") Все студенты после 11го класса
		a(href="#") Все документы
